.signin_main {
    display: flex;
    border: 1px solid lightgray;
    height: 80vh;
    width: 34vw;
    border-radius: 2%;
    margin-left: 33%;
    margin-top: 4%;
}
  
.Fundoo_signin {
    display: flex;
    position: absolute;
    top: 12%;
    left: 47%;
    font-family: cursive;
    font-size: 1.5rem;
}
  
.first {
    color: #1a73e8;
}
  
.second {
    color: red;
}
  
.third {
    color: rgb(255, 166, 0);
}
  
.fifth {
    color: darkgreen;
}

.heading1 {
    font-size: 1.65rem;
    position: absolute;
    top: 23%;
    left: 47%;
}

.sub_heading1 {
    font-size: 1rem;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 43%;
    color: #202124;
    letter-spacing: 0.1px;
}

.email_phone1 {
    display: grid;
    position: absolute;
    top: 39%;
    left: 37%;
}

.email1 {
    width: 27vw;
}

.pass1 {
    width: 27vw;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 0.8rem !important;
}

.blue_text1 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #1a73e8;
    cursor: pointer;
    margin-bottom: 6%;
}

.para_guest {
    font-size: 0.9rem;
    font-weight: 600;
    color: #5f6368;
}

.para_private {
    display: none;
}

.options1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40%;
    position: absolute;
    top: 80%;
    left: 36.5%;
    width: 31%;
}
  
.text1 {
    color: #1a73e8;
    font-size: 0.94rem;
    font-weight: 500;
    cursor: pointer;
    padding: 5%;
}
  
.text1:hover {
    background-color: rgb(197, 235, 228);
    color: blue;
}
  
.next1 {
    height: 5vh;
    width: 5vw;
}
  
.next1:hover {
    background-color: #0e60cc;
}

/* media queries */

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .signin_main {
        margin-top: 28%;
        margin-left: 21%;
        height: 60vh;
        width: 58vw;
    }
    .Fundoo_signin {
        top: 26%;
        left: 45%;
        font-size: 1.3rem;
    }
    .heading1 {
        top: 33%;
        left: 44%;
    }
    .sub_heading1 {
        top: 38%;
        left: 39%;
        font-size: 0.9rem;    
    }
    .email_phone1 {
        top: 45%;
        left: 25%;
        width: 53vw;
    }
    .email1 {
        width: 50.5vw;
    }
    .pass1 {
        width: 50.5vw;
    }
    .para_guest {
        display: none;
    }
    .para_private {
        display: contents;
        font-size: 0.9rem;
        font-weight: 600;
        color: #5f6368;
    }
    .blue_text1 {
        margin-bottom: 8%;
    }
    .options1 {     
        grid-gap: 47%;
        top: 77%;
        left: 24%;
        width: 58vw;
    }
    .next1 {
        /* width: 6vw; */
        height: 4vh;
    }
}

@media only screen and (min-width: 360px) and (max-width:640px) {
    .signin_main {
        border: none;
    }
    .Fundoo_signin {
        top: -1%;
        left: 35%;
    }
    .heading1 {
        top: 9%;
        left: 35%;
        font-size: 1.5rem;
    }
    .sub_heading1 {
        top: 16%;
        left: 23%;
    }
    .email_phone1 {
        top: 25%;
        left: 7%;
        width: 90vw;
    }
    .email1 {
        width: 85vw;
    }
    .pass1 {
        width: 85vw;
    }
    .para_guest {
        display: none;
    }
    .para_private {
        display: contents;
        font-size: 0.9rem;
        font-weight: 600;
        color: #5f6368;
    }
    .blue_text1 {
        margin-bottom: 7%;
    }
    .options1 {
        grid-gap: 36%;
        top: 67%;
        left: 6%;
        width: 100vw;
    }
}