.notes_main {
    position: absolute;
    left: 22%;
    top: 16%;
}

.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root {
    padding: 10px !important;
}

#form1, #form2 {
    position: relative;
    top: 20%;
    left: 25%;
    width: 42vw;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}
 
.forminput1 {
    left: 25%;
    width: 38vw;
    outline: none;
    border: none;
    font-size: 16px;
    resize: none;
    margin: 2% 2% 2%;
}

.forminput2 {
    outline: none;
    position: relative !important;
    border: none;
    font-size: 1rem;
    width: 30vw;
    color:black !important;
    text-align: left;
    margin: 2% 2% 2%;
}

.textarea{
    color: black !important;
}

.button1 {
    left: 1rem;
}
  
/* color palette */
.pop {
    position: absolute !important;
    z-index: 10000 !important;
    border-radius: 3px;
    width: 10.5vw;
    display: flex;
    flex-flow: wrap;
    padding: 0.5rem;
    border: 1px solid lightgray;
    background-color: white;
    top: -7rem;
}

.palette_main {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 15px;
    margin: 3px;
    border: 1px solid lightgray;
    cursor: pointer;
            
}

/* .css-i4bv87-MuiSvgIcon-root {
    font-size: 1.2rem !important;
} */

@media screen and (min-width: 768px) and (max-width: 1024px){
    .brush {
        display: none !important;
    }
    #form1, #form2 {
        left: -9%;
        width: 77vw;
    }
    .forminput2 {
        width: 53vw;
    }
    .check {
        position: absolute;
        left: 4rem;
    }
    .image {       
        position: absolute;
        left: 1rem;
    }
    .css-mf1cb5-MuiButtonBase-root-MuiIconButton-root {
        padding: 1.6rem !important;
    }
    .notes_main {
        top: 7rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px){
    .image {
        display: none !important;
    }
    #form1, #form2 {
        left: -3%;
        width: 100vw;
    }
    .forminput2, .forminput2 {
        width: 56vw;
    }
    .check {
        position: absolute;
        left: 0rem;
    }
    .brush {
        position: absolute;
        left: 0rem;
    }
    .notes_main {
        top: 5rem;
    }
    .css-mf1cb5-MuiButtonBase-root-MuiIconButton-root {
        padding: 1.3rem !important;
    }
    #icons {
        margin-left: 0%;
    }
}