.displayNotes_main {
    position: absolute;
    left: 15rem;
    top: 17rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note1_content {
    border: 1px solid rgb(228, 225, 225);
    border-radius: 8px;
    height: 21vh;
    width: 17vw;
}

.note1_content > h4 {
    font-size: 1rem;
    color: black !important;
    margin-left: 1rem;
}

.content1 {
    margin: -1rem 1rem 1.5rem;
    font-size: 0.875rem;
}

/* dialog box */
.MuiDialog-paperWidthSm {
    width: 45vw !important;
    height: 36vh !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}

.input1 {
    width: 50vw;
    border: none;
    font-size: 1.5rem;
    margin: 2% 3% 2%;
}

.input2 {
    outline: none;
    position: relative !important;
    border: none;
    font-size: 1rem;
    width: 30vw;
    color:black !important;
    text-align: left;
    margin: 2% 3% 12%;
}

.dialog_icon {
    position: relative;
    left: -1.8rem;
    cursor: pointer;
}

/* .button1 {
    margin-left: 4.5rem !important;
} */


/* media queries */

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .displayNotes_main {
        grid-template-columns: 1fr 1fr;
        left: 10rem;
        top: 19rem;
    }
    .note1_content {
        width: 32vw;
        height: 19vh;
    }
    .content1 {
        margin: -1rem 1rem 1rem;
    }
}

@media only screen and (min-width: 360px) and (max-width:640px) {
    .displayNotes_main {
        grid-template-columns: 1fr;
        left: 6rem;
        top: 15rem;
    }
    .note1_content {
        width: 100vw;
        height: 18vh;
    }
}