.displayNotes_main {
    margin-top: 2.5rem;
    margin-right: 8rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note1_content {
    border: 1px solid rgb(228, 225, 225);
    border-radius: 8px;
    min-height: 22vh;
    min-width: 17vw;
    display: block;
}

.notes :hover .d_icons {
    display: block;
    color: #0f0f0f;   
}

.note1_content > h4 {
    font-size: 1rem;
    color: black !important;
    margin-left: 1rem;
}

.content1 {
    margin: -1rem 1rem 1.5rem;
    font-size: 0.875rem;
}

.d_icons {
    display: none;
    margin-top: 1.8rem;
}

/* dialog box */
.MuiDialog-paperWidthSm {
    width: 45vw !important;
    min-height: 32.9vh !important;
    border-radius: 15px !important;
    overflow: hidden !important;
    /* position: absolute !important; */
    z-index: 1 !important;
}

.input1 {
    width: 50vw;
    border: none;
    font-size: 1.5rem;
    margin: 2% 3% 2%;
}

.input2 {
    outline: none;
    position: relative !important;
    border: none;
    font-size: 1rem;
    font-family: sans-serif;
    width: 30vw;
    color:black !important;
    text-align: left;
    margin: 2% 3% 12%;
}

.head {
    margin-left: 1rem !important;
    /* padding-top: 0.6rem; */
}

.dialog_icon {
    position: absolute !important;
    left: -1.5rem;
    top: 10rem;
    width: 40vw;
    z-index: 2 !important;
    cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}

.button {
    position: absolute !important;
    left: 29rem !important;
    top: 0rem;
}

/* avatar */
.img_main {
    display: flex;
    flex-direction: row;
    /* margin-top: -6.5rem; */
    margin-left: 0.6rem;
}

.avatar_img2>.MuiAvatar-root {
    margin-left: 0.4rem !important;
    margin-top: -1.2rem;    
    height: 4vh !important;
    width: 4vh !important;
}

.notes :hover .img_main {
    margin-top: -2.05rem;
}


/* media queries */

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .displayNotes_main {
        grid-template-columns: 1fr 1fr;
        margin-left: -1rem;
    }
    .note1_content {
        min-width: 32vw;
        min-height: 13vh;
    }
    .content1 {
        margin: -1rem 1rem 1rem;
    }
    .MuiDialog-paperWidthSm {
        width: 45vw !important;
        min-height: 25.5vh !important;
    }
    .dialog_icon {
        top: 12rem;
        left: -0.7rem;
        width: 46vw;        
    }
    .button {
        left: 30rem !important;        
    }
    .popup {
        height: 21vh;        
    }
    .MuiDialog-paperWidthSm {
        min-height: 15vh !important;
        width: 100vw !important;
    } 
    .input1 {
        width: 65vw;        
    }
    .email_list {
        width: 52vw;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-left: -1px !important;
    }
}

@media only screen and (min-width: 630px) and (max-width:733px) {
    .displayNotes_main {
        grid-template-columns: 1fr 1fr;
        margin-top: 1.5rem;        
    }
    .note1_content {
        min-width: 32vw;        
    }
    .popup {
        min-height: 30vh;
    }
    .dialog_icon {
        left: -0.2rem;
    }
    .MuiDialog-paperWidthSm {
        width: 80vw !important;
        min-height: 30vh !important;
    }
    .button {
        left: 27rem !important;        
    }
}

@media only screen and (min-width: 360px) and (max-width:630px) {
    .displayNotes_main {
        grid-template-columns: 1fr;
        margin-top: 0.5rem;        
    }
    .note1_content {
        min-width: 100vw;
        min-height: 20vh;
    }
    .d_icons {
        margin-left: -1rem;
    }
    .MuiDialog-paperWidthSm {
        margin: 0 !important;
        width: 100vw !important;
    }
    .collab_btn {
        margin-right: 14rem;        
    }
    .dialog_icon {
        left: -0.8rem;
        width: 80vw;
    }
    .popup {
        height: 27vh;        
    }
    .MuiDialog-paperWidthSm {
        min-height: 27vh !important;
    } 
    .button {
        left: 15rem !important;        
    }
    .input1 {
        width: 65vw;        
    }
    .email_list {
        width: 52vw;
        overflow-x: scroll;
        overflow-y: scroll;
        margin-left: -1px !important;
    }
}