.signup_main {
    display: flex;
    border: 1px solid lightgray;
    height: 92vh;
    width: 50vw;
    border-radius: 2%;
    margin-left: 26%;
    margin-top: 2%;
  }
  
  .Fundoo_logo {
    display: flex;
    position: absolute;
    top: 9%;
    left: 28%;
    font-family: cursive;
    font-size: 1.5rem;
  }
  
  .first {
    color: #1a73e8;
  }
  
  .second {
    color: red;
  }
  
  .third {
    color: rgb(255, 166, 0);
  }
  
  .fifth {
    color: darkgreen;
  }
  
  .Account_logo {
    height: 36vh;
    position: absolute;
    top: 25%;
    right: 25%;
  }
  
  .title {
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;  
    color: #202124;
    position: absolute;
    top: 20%;
    left: 28%;
  }
  
  .name_textbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    position: absolute;
    top: 30%;
    left: 28%;
    width: 25vw;
    color: #000;
  }

  .user_name {
    position: absolute;
    top: 40%;
    left: 28%;
    color: #000;
  }

  .user {
    width : 25vw;
    height: 6.3vh;
  }
  
  .helper_text {
    font-size: 0.75rem;
    margin-left: 2%;
    color: gray;
  }
  
  .button1 {
    position: absolute;
    top: 52%;
    left: 27.8%;
    color: #1a73e8;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: lightblue;
    color: blue;
  }
  
  .password_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    width: 25vw;
    position: absolute;
    top: 60%;
    left: 28%;
  }
  
  .para {
    position: absolute;
    top: 66.5%;
    left: 28.4%;
    font-size: 0.75rem;
    color:gray;
    width: 25%;
  }
  
  .checkbox {
    position: absolute;
    top: 72%;
    left: 28%;
  }
  
  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40%;
    position: absolute;
    top: 85%;
    left: 28%;
    width: 25%;
  }
  
  .text {
    color: #1a73e8;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
  }
  
  .text:hover {
    background-color: lightblue;
    color: blue;
  }
  
  .next {
    padding: 10px;
    background-color: #0b69e4;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    /* width: 70%; */
  }
  
  .next:hover {
    background-color: #0e60cc;
  }
  
  .img_text {
    position: absolute;
    top: 62%;
    right: 23.5%;
    width: 16%;
    font-size: 1rem;
    font-weight: lighter;
  }


/* media queries */

@media only screen and (min-width: 768px) and (max-width:1024px) {
  body {
    overflow: hidden;
  }
  .right_div {
    display: none;
  }
  .signup_main {
    height: 66vh;
    width: 60vw;
    margin-left: 20%;
    margin-top: 23%;
  }
  .Fundoo_logo {
    top: 21%;
    left: 26%;
  }
  .title {
    top: 29%;
    left: 26%;
  }
  .name_textbox {
    top: 36%;
    left: 26%;
    width: 48vw;
  }
  .user_name {
    top: 44%;
    left: 26%;
  }
  .user {
    height: 4vh;
    width: 48vw;
  }
  .button1 {
    left: 26%;
    top: 51%;
    font-size: 0.9rem;
  }
  .password_text {
    width: 48vw;
    top: 57%;
    left: 26%;
  }
  .para {
    top: 62%;
    left: 28%;
    width: 46%;
  }
  .checkbox {
    top: 65%;
    left: 26%;
  }
  .options {
    top: 74%;
    left: 25%;
    width: 49%;
    grid-gap: 37%;
  }
  .text {
    font-size: 1rem;
  }
  .next {
    padding: 14px;
  }
}

@media only screen and (min-width: 360px) and (max-width:640px) {
  .right_div {
    display: none;
  }
  .signup_main {
    border: none;
    height: 66vh;
    width: 60vw;
    margin-left: 21%;
    margin-top: 23%;
  }
  .Fundoo_logo {
    top: -1%;
    left: 6%;
  }
  .title {
    top: 9%;
    left: 6%;
  }
  .name_textbox {
    top: 20%;
    left: 6%;
    width: 86vw;
    grid-gap: 30%;
    grid-template-columns: 1fr;
  }
  .user_name {
    top: 38%;
    left: 6%;
  }
  .user {
    height: 5.5vh;
    width: 86vw;
  }
  .button1 {
    left: 5%;
    top: 48%;
    font-size: 1rem;
  }
  .password_text {
    width: 86vw;
    top: 57%;
    left: 6%;
    grid-template-columns: 1fr;
    grid-gap: 30%;
}
  .para {
    top: 72%;
    left: 9%;
    width: 84%;
  }
  .checkbox {
    top: 77%;
    left: 6%;
  }
  .options {   
    top: 88%;
    left: 4%;
    width: 89%;
    grid-gap: 26%;
  }
  .text {
    font-size: 1rem;
  }
  .next {
    padding: 14px;
  }
}