$display: flex;
$border: 1px solid #e4d6d6;

@mixin  input($size) {
    font-size: $size;
    margin-left: 20px;
}
@mixin  align($width,$justify-content) {
    display: $display;
    width: $width;
    justify-content: $justify-content;
    align-items: center;
}

.dialog_body {
    width: 570px;
    min-height: 160px;
    padding: 15px;
    display: $display;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

.collab {
    border-bottom: $border;
    font-weight: 1000;
    font-size: 1.4rem;
}

.owner {
    display: $display;
    margin: 0.9rem 0rem 0rem -3rem;
}

.avatar_img {
    margin-left: 22px;
    margin-top: 7px;
}
.name_txt {
    @include input(15px);
    font-weight: bold;
    margin-left: 20px;
}

.email_txt {
    @include input(0.8rem);
}

.plus_person {
    margin-top: 1rem;
    margin-left: 6px;
    width: 38px;
    height: 38px;
    border: 2px solid #6d6a6a;
    border-radius: 29px;
    padding: 5px;
    color: #6d6a6a;
}

.search1 {
    @include align(300px, space-between);
}

.search_text {
    text-decoration: none;
    margin-left: 16px !important;
    width: 300px;
}

.MuiInputBase-multiline {
    padding: 20px 0 7px !important;
}

.MuiInputBase-inputMultiline {
    font-size: 0.8rem !important;
}

.collab_btn {
    display: $display;
    flex-direction: row-reverse;
    cursor: pointer;
}

.email_list {
    position: fixed !important;
    top: 23rem !important;
    left: 28.8rem;
    z-index: 100 !important;
    background-color: #fff;
    border: $border;
    // height: 40vh !important;
    // width: 20%;
    // overflow-y: scroll;
    // overflow-x: scroll;
}

.email_list>.MuiMenuItem-root {
    border-bottom: $border;
}

.on_close {
    display: block !important;
    position: absolute;
    left: 34rem;
    top: 8rem;
    opacity: 0.2;
}

@media only screen and (min-width: 630px) and (max-width:733px) {
    .dialog_body {
        width: 540px;
    }
    .email_list {
        top: 26rem;
        left: 9rem;
        // height: 40vh !important;
        // width: 41%;
    }
}