body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;  
  background: #fff;
}

.App_logo {
  width: 14vw;
  height: 15vh;
  position: absolute;
  left: 26.5%;
  top: 6%;
}

.Account_logo {
  height: 36vh;
  position: absolute;
  top: 25%;
  right: 25%;
}

.title {
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;  
  color: #202124;
  position: absolute;
  top: 20%;
  left: 28%;
}

.name_textbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  position: absolute;
  top: 30%;
  left: 28%;
  width: 25vw;
  color: #000;
}

.user_name {
  position: absolute;
  top: 40%;
  left: 28%;
  color: #000;
}

.helper {
  font-size: 0.81rem;
  position: absolute;
  top: 41.8%;
  right: 47.5%;
}

.helper_text {
  font-size: 0.75rem;
  margin-left: 2%;
  color: gray;
}

.button1 {
  position: absolute;
  top: 52%;
  left: 27.8%;
  color: #1a73e8;
  background-color: #fff;
  border: 0px;
  cursor: pointer;
}

.button1:hover {
  background-color: lightblue;
  color: blue;
}

.password_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  width: 25vw;
  position: absolute;
  top: 60%;
  left: 28%;
}

.para {
  position: absolute;
  top: 66.5%;
  left: 28.4%;
  font-size: 0.75rem;
  color:gray;
  width: 25%;
}

.checkbox {
  position: absolute;
  top: 72%;
  left: 28%;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 38%;
  position: absolute;
  top: 85%;
  left: 28%;
  width: 24%;
}

.text {
  color: #1a73e8;
  background-color: #fff;
  border: 0px;
  cursor: pointer;
}

.text:hover {
  background-color: lightblue;
  color: blue;
}

.next {
  padding: 8px;
  background-color: #0b69e4;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
}

.next:hover {
  background-color: #0e60cc;
}

.img_text {
  position: absolute;
  top: 62%;
  right: 23.5%;
  width: 16%;
  font-size: 1rem;
  font-weight: lighter;
}